<h1>Listing Ideas</h1>
<%= link_to 'New Idea', new_idea_path %>
    <% @ideas.each do |idea| %>
    <div class =  "bg-info col-md-8 col-md-offset-2" style = "margin-top: 10px;">
      <div class="page-header">
        <%= link_to idea.name, idea %>
        <%= idea.tagline %>
        <% if idea.user %>
          <%= idea.user.email %>
        <% end %>
        <%= idea.description %>
        <% if idea.user == current_user %>
          <%= link_to 'Edit', edit_idea_path(idea) %>
          <%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
    <% end %>
